* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('https://images.unsplash.com/photo-1698734419287-2fc55dcf344f?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.header h1{
    color: orange;
}

.header {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 35px 25px;
    margin: auto;
    border-bottom: 1px solid gray;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    
}

.header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding-top: 8px;
    position: relative;
}

.header ul li a {
    text-decoration: none;
    color: orange;
    
}

.header ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}

.header ul li:hover::after {
    width: 100%;
}

.content {
    width: 650px;
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    left: 25%;
    height: 350px;
}

.cardbox  {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 30px;
}

.card-text {
    display: grid;
    font-size: 15px;
    grid-template-rows: 35% 65%;
    padding: 3px;
}

.card {
    display: grid;
    grid-template-rows: 135px 105px 60px;
    border-radius: 30px;
    overflow: hidden;
    row-gap: 10px;
    backdrop-filter: blur(50px);
    transition: 0.5s;
    height: 310px;
}

.card:hover {
    transform: scale(1.05);
}

.img {
    width: 100%;
    height: 100%;
}

button {
    width: 140px;
    text-align: center;
    margin-top: 10px;
    height: 30px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orange;
    background: transparent;
    color: white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: 15px;
}

span{
    background: orange;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
    color: black;
}
